@import url('https://fonts.googleapis.com/css?family=Oswald:700');
/*
 * ScrollReveal.js preview!
 */
.scrollreveal__preview {
  padding: 12vh 0;
  background-image: url('../img/preview-background.png');
}
.scrollreveal__warning {
  display: none;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-block: 1em;
  padding-inline: 3em 1em;
  font-weight: 400;
  background-color: #efcf64;
}
.scrollreveal__warning::before {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-start: 0.625rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-inline-end: 0.625rem;
  content: "";
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg fill='%23e29700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.66 12.316-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625z'/%3e%3c/svg%3e");
}
.scrollreveal__sample {
  display: block;
  font-family: 'Oswald', serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0 auto;
  width: 450px;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  vertical-align: middle;
  color: deepskyblue;
  -webkit-text-size-adjust: none;
  background-color: #202746;
  border: 10px solid #ffffff;
  border-radius: 2px;
  padding: 10px;
}
/*
 * ScrollReveal.js fields wrapper!
 */
.scrollreveal-wrapper {
  margin-bottom: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.scrollreveal-wrapper .form-item__label {
  display: flex;
}
.scrollreveal-wrapper .form-item {
  margin-right: 6px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
[dir="rtl"] .scrollreveal-wrapper .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.scrollreveal-wrapper .form-element {
  display: inline-flex;
}
.scrollreveal-wrapper .form-item__description {
  display: block !important;
}
/* Animate delay time and duration field */
.scrollreveal-delay {
  width: 120px;
}
.scrollreveal-duration {
  width: 147px;
}
.scrollreveal__properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 10px;
}
.scrollreveal__properties .form-item {
  flex: 0 0 calc(33% - 10px);
  box-sizing: border-box;
  width: calc(33% - 10px);
}
.scrollreveal__properties.rotate-utilities .form-item {
  flex: 0 0 135px;
  width: 100%;
}
.scrollreveal__properties.rotate-utilities .form-item input {
  width: 90px;
}
.scrollreveal__properties.offset-utilities .form-item {
  flex: 0 0 150px;
  width: 100%;
}
.scrollreveal__properties.offset-utilities .form-item input {
  width: 90px;
}
/* ScrollReveal field suffix */
.scrollreveal-form .form-item__suffix,
.scrollreveal-settings-form .form-item__suffix {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0;
  margin-left: -6px;
  transform: rotate(90deg);
}
/* Animate flags */
.scrollreveal-unit-flag,
.scrollreveal-beta-flag,
.scrollreveal-experimental-flag,
.scrollreveal-new-flag {
  font-size: 10px;
  font-weight: 525;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  padding: .125em .5em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  line-height: 1.5;
}
body[class^="gin--"] .scrollreveal-beta-flag,
body[class^="gin--"] .scrollreveal-experimental-flag,
body[class^="gin--"] .scrollreveal-new-flag {
  border-radius: .75rem;
}
.scrollreveal-beta-flag,
.scrollreveal-experimental-flag {
  color: #555;
  background: #ddd;
}
body[class^="gin--"] .scrollreveal-beta-flag,
body[class^="gin--"] .scrollreveal-experimental-flag {
  color: #777;
  background: #eee;
}
.gin--dark-mode .scrollreveal-beta-flag,
.gin--dark-mode .scrollreveal-experimental-flag {
  color: #9e9fa0 !important;
  background: rgba(255, 255, 255, .1) !important;
}
.scrollreveal-new-flag {
  color: #fff;
  background-color: #26a769;
}
body[class^="gin--"]  .scrollreveal-new-flag {
  font-size: 9px;
  font-weight: bold;
  color: #39b77b;
  background-color: #26a76930;
}
.scrollreveal-unit-flag {
  font-size: 14px;
  color: #d8b234;
  text-transform: lowercase;
}
/* Library status report */
.library-status-report {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-block: 1em;
  padding-inline: 3em 1em;
  font-weight: 400;
  font-size: 14px;
  color: #545454;
  background-color: #f6f6f6;
  border-radius: .45rem;
}
.library-status-report::before {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-start: 0.625rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-inline-end: 0.625rem;
  content: "";
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg fill='%23e29700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.66 12.316-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625z'/%3e%3c/svg%3e");
}

/*
 * Animate administration overview page!
 */
.scrollreveal-filter.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--space-l);
  padding: var(--space-xs) var(--space-l) var(--space-l) var(--space-l);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--details-border-size-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
}
.scrollreveal-filter {
  margin-bottom: 24px;
  padding-top: 12px !important;
  padding-bottom: 9px !important;
}
.scrollreveal-filter .form-item {
  margin-right: 6px;
}
[dir="rtl"] .scrollreveal-filter .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.scrollreveal-filter .form-element {
  display: table;
}
.scrollreveal-filter .form-submit {
  margin-right: 6px;
}
[dir="rtl"] .scrollreveal-filter .form-submit {
  margin-left: 6px;
  margin-right: 0;
}
.scrollreveal-filter .form-submit:last-child {
  margin-left: 0;
  margin-right: 0;
}
/* List status marker */
.scrollreveal-list .marker {
  font-size: .75rem;
  font-weight: 525;
  display: inline-block;
  padding: .125em .75em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  color: #777;
  background: #eee;
}
.gin-layer-wrapper .scrollreveal-list .marker {
  color: #777;
  background: #eee;
  border-radius: .75rem;
}
.scrollreveal-list .marker--enabled {
  color: #fff;
  background-color: #26a769;
}
.gin-layer-wrapper .scrollreveal-list .marker--enabled {
  color: #39b77b;
  background-color: #26a76930;
}
/* Gin theme fix delete icon color */
#block-gin-content .action-link--icon-trash.action-link--danger:before,
#block-gin-content .button.button--danger:before,
#block-gin-content a.button.button--danger:before {
  background-color: #cc3d3d !important;
}
#block-gin-content .action-link--icon-trash.action-link--danger:hover:before,
#block-gin-content .action-link--icon-trash.action-link--danger:focus:before,
#block-gin-content .action-link--icon-trash.action-link--danger:active:before,
#block-gin-content .button.button--danger:hover:before,
#block-gin-content .button.button--danger:focus:before,
#block-gin-content .button.button--danger:active:before,
#block-gin-content a.button.button--danger:hover:before,
#block-gin-content a.button.button--danger:focus:before,
#block-gin-content a.button.button--danger:active:before {
  background-color: #ffffff !important;
}
